.resume#my-resume
  .container-top-resume
    .resume-title
      p#resume-title MY RESUME
      p#resume-line ___________
      br
      br
      br
  .resume-content
    .resume-experience-title
      h1#xp EXPERIENCES
    .resume-block
      .timeline
        ul.timeline-list
          li 
            h4 Job Tile 
            h7 Position 
            h9 Company name
            p teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext
            |teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeextteeeeext
          li 
            h4 Job Tile
            h7 Position 
            h9 Company name
            p teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext
            |teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeextteeeeext 
          li 
            h4 Job Tile
            h7 Position 
            h9 Company name
            p teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext
            |teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeextteeeeext
          li 
            h4 Job Tile
            h7 Position 
            h9 Company name
            p teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext
            |teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeextteeeeext
      .resume-education-title
        h1.edu EDUCATION
      ul.timeline-list#education
        li 
          h4 Course Tile 
          h7 website 
          h9 Expertise
          p teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext
          |teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeextteeeeext
        li 
          h4 Course Tile
          h7 website 
          h9 Expertise
          p teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext
          |teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeextteeeeext 
        li 
          h4 Course Tile
          h7 website 
          h9 Expertise
          p teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext
          |teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeext teeeeextteeeeext
