.resume#my-resume
  .container-top#container-title
    .resume-title
      p#resume-title MY RESUME
      p#resume-line ___________
  .resume-content
    .heading-xp
      h1#xp EXPERIENCES
    .resume-experience
      .timeline-container
        .timeline-left
          h1 Title
          h3 Description
          br
          p texttexttexttexttexttexttexttexttext
        .timeline-right
          h1 Title
          h3 Description
          br
          p texttexttexttexttexttexttexttexttext
