.resume {
  margin-top: 10%;
  width: 100%;
  height: 100%;
}

#my-resume {
  margin: 0 auto;
  padding: 0%;
  text-align: center;
  width: 100%;
  background-color: $green-white;
}

.resume-title {
  text-align: center;
  padding-top: 20%;
}
#resume-title {
  font-size: 3.125em;
  font-weight: bold;
}
#resume-line {
  color: red;
}

.resume#my-resume h1 {
  display: inline-block;
  background-color: $peri-blue;
  text-align: center;
  position: relative;
  padding: 1%;
  margin: auto;
  width: 25%;
  border-radius: 7px;
  font-weight: bold;
  word-wrap: break-word;
}
.resume-experience-title {
  margin-top: 270px;
}


.resume-block {
  background-image: url(../asset/image/line.png);
  background-repeat: repeat-y;
  background-position: center;
  background-attachment: fixed;
  background-size: 20px;
}
.timeline {
  padding-top: 100px;
}
ul.timeline-list li {
  list-style-type: none;
  list-style-position: inside;
  padding: 20px;
  font-size: 1em;
  letter-spacing: normal;
  font-family: 'Monda', sans-serif;
  margin-top: 50px;
}

ul.timeline-list li:hover {
  background-color: white;
}
//----------------------------------------
.timeline-list li:nth-child(odd) {
  margin-left: 49%;
  margin-right: 51%;
  width: 400px;
  border-left: 4px solid $peri-blue;
  border-bottom: 1px solid $peri-blue;
  text-align: left;
  border-radius: 0px 10px 0px 10px;
  z-index: -1;

}
.timeline-list li:nth-child(even) {
  margin: auto;
  margin-left: 200px;
  width: 400px;
  border-right: 4px solid $peri-blue;
  border-bottom: 1px solid $peri-blue;
  text-align: right;
  border-radius: 10px 0px 10px 0px;
  direction: rtl;
  background: $green-white;
}
.resume-education-title {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}
