.nav-bar-container#home
  ul.nav-bar
    li 
      a(href='#logo')
      img(src='/asset/image/logo.jpg' alt='Logo image link.' width='50px' height='50px') 
    li 
      a(href='#home') Home
    li 
      a(href='#about-me') About
    li 
      a(href='#my-resume') Resume
    li 
      a(href='#skill') Skill
    li 
      a(href='#process') Process
    li 
      a(href='#contact') Contact
hr
