.nav-bar-container {
  padding-top: 7%;
  border-bottom: 1px solid $scarpa-flow;
}
.nav-bar li a {
  text-decoration: none;
  color: $scarpa-flow;
  display: block;
  width: 120%;
  background-color: none;
}
.nav-bar li {
  display: inline-block;
  text-align: center;
  padding: 2%;
  margin-left: 1em;
  font-size: 1.25em;
  color: $scarpa-flow;
}
.nav-bar a:hover {
  color: red;
  text-align: center;

}
.nav-bar ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}
