.nav-bar-container {
  margin: auto;
  margin-top: 93px;
}
.nav-bar li a {
  text-decoration: none;
  color: $scarpa-flow;
  display: block;
  width: 120%;
  background-color: none;
}
.nav-bar li {
  display: inline-block;
  text-align: center;
  padding-left: 2%;
  margin-left: 1em;
  font-size: 1.25em;
  color: $scarpa-flow;
  list-style-type: none;
}
.nav-bar a:hover {
  color: red;
  text-align: center;
}
