$don-juan: #584b4f;
$pearl-bush: #efeae1;
$white: #fff;
$alto: #ddd;
$de-york: #81c08b;
$dusty-gray: #999;
$zambezi: #66595c;

// Daniel
$neptun: #80C2B3;
$deco: #C2D68B;
$scarpa-flow: #5A575E;
$woodland: #3D512D;
