.top-text {
  text-align: center;
  padding-top: 12%;
  padding-bottom: 35%;
  padding-right: 2%;
  background-image: url(/asset/image/background-top1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Amatic SC', cursive;
}
