@import "../menu/menu";

.top-text {
  text-align: center;
  padding-top: 13%;
  padding-bottom: 34%;
  background-image: url(/asset/image/background-top1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 2%;
}
.top-background {
  height: 100%;
  width: 100%;
}
