extends _layout/base
block settings
  - title = 'Website-1 Challenge';
  - description = 'Website-1 Challenge main description';

block content
  .top-container
    .content
      include ./_component/header/header
  br
  .navigation-bar
    include ./_component/nav-bar/nav-bar
  br
  .about-me-container
    include ./_component/about-me/about-me
