extends _layout/base
block settings
  - title = 'Website-1 Challenge';
  - description = 'Website-1 Challenge main description';

block content
  .container
    .content




      
      include ./_component/header/header
      include ./_component/menu/menu
      include ./_component/skills/skills
      include ./_component/about/about
      include ./_component/portfolio/portfolio
      include ./_component/awards/awards
      include ./_component/employment/employment
      include ./_component/footer/footer
