.about-me
  .about-me-head
    p#about-title ABOUT ME
    p#about-line __________
    br
    br
  .about-me-content
    .about-me-text
      h5 Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      p h vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. 
    .about-me-details
      img.img-responsive.portrait(src='/asset/image/eu.jpg' alt='Portrait picture')
