.about-me
  .about-me-head
    p#about-title ABOUT ME
    p#about-line __________
    br
    br
  .about-me-content
    .about-me-text
      p#p1 Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      p h vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. 
    .row1#about-me-details
      .col-xs-4#about-col1
        img.img-responsive.portrait(src='/asset/image/eu.jpg' alt='Portrait picture')
      .col-xs-2#about-col2
        .title-info
          p Birthdate
          p Phone
          p E-mail
          p Address
      .col-xs-2
        .title-details
          p 27.10.1983
          p 07761811456
          p varvara_sd@outlook.com
          p Address: 69 Corporation street, E15 3HB, London, UK
      .col-xs-4#about-col3
          .hobbies-title
            p
              strong HOBBIES & INTERESTS
