.about-me {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}
#about-title {
  font-size: 50px;
  font-weight: bold;
}
#about-line {
  color: red;
}

.about-me-content {
  text-align: left;
}
.about-me-text {
  font-size: 20px;
}
#p1 {
  font-weight: bold;
}

img.img-responsive.portrait {
  width: 80%;
  height: 80%;
}
.row1 {
  padding-top: 20px;
  margin-top: 20px;
}
.hobbies-title {
  font-size: 20px;
}
.title-info {
  font-weight: bold;
  font-size: 20px;
}
.title-details {
  font-size: 17px;
}
