.container-fluid#about-me {
  text-align: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-top: 1.875em;
  text-decoration: none;
}
#about-title {
  font-size: 3.125em;
  font-weight: bold;
}
#about-line {
  color: red;
}
// end About me title
// start About me text content
.about-me-content {
  text-align: left;
}
.about-me-text {
  font-size: 1.25em;
}
#p1 {
  font-weight: bold;
}
// end About me text content
// start About me details row
.row {
  margin: auto;
  padding-top: 1.25em;
  margin-top: 1.25em;
  padding-bottom: 10%;

// end row
// start 1st col
}
img.img-responsive.portrait {
  width: 100%;
  height: 100%;
  float: left;
  padding: 0%;
  margin: 0%;
}
// end 1st col
// start 2nd col

.col-xs-4#table-details {
  font-size: 1.0625em;
  text-align: left;
}

.about-title {
  position: relative;
  float: left;
  height: 100%;
  width: 30%;
}
.about-details {
  position: relative;
  float: right;
  height: 100%;
  width: 70%;
}

p#signature {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 3.125em;
  text-align: bottom;
  display: inline-block;
  padding: 0.5em;
  margin-top: 1.125em;
  color: #000;
}
p#download-resume {
  color: white;
  background-color: red;
  border-radius: 0.3125em;
  text-align: center;
  padding: 1.0625em;
  width: 75%;
}
span#download {
  word-wrap: break-word;
}
//end 2nd col
//start 3rd col
.hobbies-title {
  font-size: 1.25em;
  text-align: left;
  padding-left: 22%;
}
.hobbies-details li {
  background-color: $pearl-bush;
  display: table;
  width:35%;
  height: 35%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  float: left;
  position: relative;
  margin: 1%;
  text-align: center;
  list-style-type: none;
  font-size: 1.5em;
  overflow: auto;
}
