.container-fluid#about-me
  .about-me-head
    p#about-title ABOUT ME
    p#about-line __________
    br
    br
  .about-me-content
    .about-me-text
      p#p1 Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      p h vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam neh vulputate cursus a sit amet mauris. 
  .container-fluid#about-me-details
  .row
    .col-xs-3#about-image
      img.img-responsive.portrait(src='/asset/image/eu.jpg' alt='Portrait picture')
    .col-xs-4#table-details
      .about-info
        .about-title
          p #[strong Birthdate]
          p #[strong Phone]
          p #[strong E-mail]
          p #[strong Address]
        .about-details
          p : 27.10.1983
          p : 07761811456
          p : varvara_sd@outlook.com
          p : Address: 69 Corporation street, E15 3HB, London, UK
      .about-signature
        p#signature Daniel Varvara
        p#download-resume
          i.fa.fa-download
          |
          span#download DOWNLOAD RESUME
    .col-xs-5#about-hobbies
        .hobbies-title
          p
            strong HOBBIES & INTERESTS
        .hobbies-details
            ul
              li
                i.fa-gamepad
                  span Games
